<div class="container footer">
    <div class="row">
        <div class="col-md-6">

         <img src="../../static/img/elherbario_logo.svg" alt="">
         <p>
            <h4 class="info_footer_h4">Direccion: <span class="info_footer">Carrera 43D No 10-30 Medellín, Colombia</span></h4>
            <h4 class="info_footer_h4">Horario: <span class="info_footer">Lunes a Sabado de 12pm a 2:45pm y de 6pm a 10pm</span></h4>
            <h4 class="info_footer_h4">Telefono: <span class="info_footer">(604)3112537</span></h4>
            <h4 class="info_footer_h4">WhatsApp: <span class="info_footer">(312)8330240</span></h4>
         </p>
        </div>
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1983.19544284695!2d-75.57432648935219!3d6.212067620610071!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44282b555e475f%3A0x50a890be60617984!2sDeGREIFF%20Agencia!5e0!3m2!1ses!2sco!4v1667609050237!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>